/* GENERAL STYLES */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');
body {
  font-family: "Open Sans", sans-serif;
  background-color: #f1f1f1;
}

input[type=text], input[type=email], input[type=password], input[type=date], select, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: black;
  font-weight: 600;
}

.error-page {
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  p {
    span {
      color: red;
      font-weight: bold;
    }
  }
  a {
    color: white;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    background-color: black;
    padding: 6px 16px;
    border-radius: 45px;
    transition: .2s ease-in-out;
  }
  a:hover {
    transform: scale(1.15);
    transition: .2s ease-in-out;
    background-color: lighten(black, 25);
  }
}


/* Navbar styles */

.navbar-custom {
  background-color: #FFFFFF;
  border: none;
  border-radius: 0px;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.12);
}

.navbar-default .navbar-brand {
  color: #5F6360;
  font-weight: bold;
  font-size: 22px;
}

.navbar-writeastory {
  color: #5F6360;
  border-style: solid;
  border-color: #5F6360;
  border-width: 1.4px;
  border-radius: 21px;
  height: 35px;
  width: 150px;
  margin-top: 8px;
  text-align: center;
  line-height: 0;
  padding-top: 7px !important;
  font-weight: 600;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.05);
}

.navbar-signuporin {
  color: white !important;
  border-radius: 21px;
  background: #FF5F6D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #DFA559, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #DFA559, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  height: 35px;
  width: 150px;
  margin-top: 8px;
  text-align: center;
  line-height: 0;
  padding-top: 7px !important;
  font-weight: 600;
  margin-left: 30px;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.05);
  transition: .2s ease-in-out;
  &:hover {
    transition: .2s ease-in-out;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.2);
  }
}

.navbar-user {
  font-weight: bold;
  font-size: 16px;
  margin: 14px;
  margin-left: 28px;
  i {
    color: lighten(black, 67) !important;
    transition: .5s ease !important;
  }
  i:hover {
    color: black !important;
    transition: .5s ease !important;
    cursor: pointer;
  }
}
#wrench-logo {
  font-size: 3rem;
  margin-top: 8px;
  color:#5F6360;
  float: left;
  margin-right: 8px;
  text-shadow: 4px 4px 5px 0px rgba(0,0,0,0.2);
}

.main-info {
  font-weight: bold;
  color: #FF5F6D;
}

.SignUpForm, .signInFormArea, .writeStorieForm, .createJobForm {
  .SignUpForm-submit {
    margin-top: 10px;
    background: #FF5F6D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DFA559, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DFA559, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    border: none !important; 
  }
  .formErrors {
    color: red;
    font-size: 16px;
    font-weight: 600;
    margin-top: 5px;
  }
  fieldset {
    p {
      color: black;
      font-weight: bold;
      margin-top: 20px;
    }
    small {
      color: black;
      font-size: 14px;
    }
  }
}

.authViewChanger {
  color: #343489;
  font-weight: bold;
  font-size: 16px;
  transition: .3s ease-in-out;
  &:hover {
    transition: .3s ease-in-out;
    color: lime;
    cursor: pointer;
    transform: scale(1.1);
  }
}


/* SPINNER CONFIG */

.Spinner {
  animation: rotator 1.4s linear infinite;
  width: 30px;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

.Spinner__path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@keyframes colors {
  0% {
    stroke: #fec564;
  }
  25% {
    stroke: #5258cf;
  }
  50% {
    stroke: #893dc2;
  }
  75% {
    stroke: #d9317a;
  }
  100% {
    stroke: #f77638;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    /* 187/4 */
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}

.data-piece {
  margin-bottom: 50px;
}

.data-piece span {
  color: red;
  font-size: 12px;
  font-weight: bold;
}

.post {
  background-color: white;
  margin-bottom: 28px;
  transition: box-shadow .2s ease-in-out;
  &:hover {
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    transition: box-shadow .2s ease-in-out;
    cursor: pointer;
  }
}
.post-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 12px;
}
.post-author {
  font-size: 12px;
  color: #838487;
}
.post-body {
  padding-left: 16px;
  margin-top: 8px;
}
.post-information {
  font-size: 12px;
  .post-author-link {
    color: #1B1D21;
  }
  .post-createdAt {
    color: darken(#838487, 5);
  }
}
.post-read-more {
  color: #5F6360;
}
.post-view {
  h3 {
    margin-top: 15px;
  }
}
.liked-button {
  color: red;
  transition: .5s ease;
  transform: scale(1);
  &:hover {
    color: #900404;
    transition: .5s ease;
    transform: scale(1.05);
  }
}
.staff-picked {
  color: white;
  background-color: red;
  padding: 6px;
  border-radius: 6px;
  font-weight: 600;
}
.hide {
  visibility: hidden;
}
.liked {
  color: red;
}
.post-information-view {
  color: gray;
  font-size: 12px;
}
.verified {
  margin-left: 5px;
  font-size: 9px;
  padding: 3px;
  border-color: #014BB6;
  border-width: .3px;
  border-style: solid;
  border-radius: 4px;
  width: 100px;
  color: white;
  background-color: blue;
  font-weight: bold;
}
.verified-post-view {
  margin-left: 5px;
  font-size: 9px;
  padding: 3px;
  border-color: #014BB6;
  border-width: .3px;
  border-style: solid;
  border-radius: 4px;
  width: 100px;
  color: white;
  background-color: blue;
  font-weight: bold;
}
.post-staff-picked {
  font-weight: 600;
  font-size: 14px;
  color: red;
}
.home {
  text-align: center;
}
#navbar-user-verified {
  margin-right: 6px;
  color: white !important;
  background-color: #2B39B8;
  border-radius: 4px;
  padding: 2px;
  font-size: 8px;
  overflow: auto;
  margin-top: 5px;
}
.job {
  background-color: white;
  border-radius: 4px;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 20px;
  height: 120px;
  max-width: 1190px;
  .job-title {
    font-weight: bold;
    font-size: 20px;
    margin-top: 6px;
    margin-bottom: 3px;
    span {
      font-weight: 500;
      font-size: 12px;
    }
  }
}
.job-assignee {
  font-size: 12px;
  color: rgb(68, 67, 67);
}
.nav-button-createjob {
  font-weight: 700;
  margin-top: 10px;
  margin-right: 25px;
  padding: 7px;
  background-color: #25B43A;
  color: white;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: .5s ease-in-out;
  &:hover {
    background-color: #188627;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  i {
    margin-left: 4px;
    
  }
}
.due-soon {
  color: white;
  background-color: red;
  padding: 4px;
  border-radius: 4px;
  margin-top: 12px;
  font-size: 14px;
}
.job-item {
  transition: .5s ease-in-out;
  &:hover {
    transition: .5s ease-in-out;
    cursor: pointer;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.2);
  }
  overflow-y: auto;
  word-wrap: break-word;
}
.remove-button {
  margin-left: 25px;
  margin-top: 45px;
}
.job-menu {
  background-color: white;
  border-radius: 4px;
  padding: 4px;
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  font-weight: 600;
}
.job-information {
  background-color: white;
  border-radius: 4px;
  padding: 4px;
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
}
.job-remove-button {
  padding: 6px;
  background-color: rgb(255, 5, 5);
  color: white;
  font-weight: 700;
  border-radius: 6px;
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  cursor: pointer;
  transition: .3s ease-in-out;
  transform: scale(1);
  &:hover {
    transition: .3s ease-in-out;
    transform: scale(1.12);
  }
}
.job-edit-button {
  padding: 6px;
  background-color: rgb(255, 152, 7);
  color: white;
  font-weight: 700;
  border-radius: 6px;
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  cursor: pointer;
  transition: .3s ease-in-out;
  transform: scale(1);
  &:hover {
    transition: .3s ease-in-out;
    transform: scale(1.12);
  }
}